.ReleaseInfoDialog :global(.coco-dialog-content) {
    width: 601px;
    height: 408px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0
}

.ReleaseInfoDialog :global(.coco-dialog-close) {
    top: 12px;
    right: 16px;
    z-index: 1;
    font-size: 20px
}

.ReleaseInfoDialog .left {
    height: 100%;
    width: 279px
}

.ReleaseInfoDialog .left img {
    height: 100%;
    width: 100%
}

.ReleaseInfoDialog .right {
    height: 100%;
    width: 324px;
    padding: 42px 0 20px
}

.ReleaseInfoDialog .right .content {
    height: 100%;
    width: 100%;
    padding: 0 22px
}

.ReleaseInfoDialog .right .content .updateInfo {
    width: 100%;
    height: 310px;
    padding: 20px 14px;
    background: #f6f4fe;
    border-radius: 8px
}

.ReleaseInfoDialog .right .content .updateInfo header {
    font-size: 16px;
    font-weight: 500;
    color: #33383d;
    line-height: 16px;
    text-align: center;
    margin-bottom: 14px
}

.ReleaseInfoDialog .right .content .updateInfo p {
    font-size: 12px;
    font-weight: 400;
    color: #61626b;
    line-height: 20px;
    margin: 0
}

.ReleaseInfoDialog .right .content .updateInfo ul {
    padding-inline-start: 20px;
}

.ReleaseInfoDialog .right .content .updateInfo li {
    list-style-type: disc;
}

.ReleaseInfoDialog .right .content .updateInfo .link {
    margin-top: 14px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px
}

.ReleaseInfoDialog .right .content .updateInfo .link a {
    color: #6e4ff4;
    text-decoration: underline
}

.ReleaseInfoDialog .right .content .overViewInfo {
    margin-top: 18px;
    font-size: 12px;
    color: #6e4ff4;
    text-align: center;
    cursor: pointer
}

.ReleaseInfoDialog .right .content .overViewInfo a {
    color: #6e4ff4
}

.ReleaseInfoDialog .right .content .overViewInfo .iconLink {
    -webkit-transform: rotate(-90deg) scale(.9);
    transform: rotate(-90deg) scale(.9);
    font-size: 12px;
    margin-left: 3px
}
