.workItem {
    height: 240px;
    padding: 8px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #f2f2f2;
    cursor: pointer
}

.workItem .workImage {
    position: relative;
    height: 164px;
    padding: 8px;
    background: #f3f6fa;
    border-radius: 12px;
    overflow: hidden
}

.workItem .workImage.cover {
    padding: 0
}

.workItem .workImage.cover .image {
    -webkit-background-size: cover;
    background-size: cover
}

.workItem .workImage .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s,-o-transform .3s
}

.workItem .workImage .workType {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 40px;
    height: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    background: #b0a2f6;
    border-radius: 4px
}

.workItem .workImage .workType .icon {
    font-size: 16px;
    margin-left: -3px
}

.workItem .workImage .workType .workTypeText {
    margin-left: -2px
}

.workItem .workImage .workDelete {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    background: #6e4ff4;
    border-radius: 0 8px 0 8px;
    /* [CoCo Next] 触屏优化，彻底删除按钮始终显示 */
    /* visibility: hidden */
}

.workItem .workName {
    margin: 8px 0 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #33383d
}

.workItem .workName .name {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.workItem .workName .inputVisible {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.workItem .workName .inputHidden {
    display: none
}

.workItem .workName .moreBtn {
    /* [CoCo Next] 触屏优化，菜单按钮始终显示 */
    /* display: none; */
    width: 22px;
    height: 22px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #847da4;
    border-radius: 4px;
    /* [CoCo Next] 放大菜单按钮，便于点击 */
    transform: rotate(90deg) scale(1.2);
}

.workItem .workName .moreBtn:hover {
    background: #f5f3fe
}

.workItem .workName .recoverBtn {
    /* [CoCo Next] 触屏优化，恢复按钮始终显示 */
    /* display: none; */
    width: 22px;
    height: 22px;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    color: #847da4;
    border-radius: 4px;
    /* [CoCo Next] 放大恢复按钮，便于点击 */
    transform: scale(1.2);
}

.workItem .workName .recoverBtn:hover {
    background: #f5f3fe
}

.workItem .workTime {
    font-size: 12px;
    color: #a0a2b3
}

.workItem:hover {
    -webkit-box-shadow: 0 4px 10px 0 rgba(49,52,58,.18);
    box-shadow: 0 4px 10px 0 rgba(49,52,58,.18)
}

.workItem:hover .image {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

/* [CoCo Next] 触屏优化，菜单按钮始终显示
.workItem:hover .moreBtn {
    display: block
} */

/* [CoCo Next] 触屏优化，彻底按钮始终显示
.workItem:hover .workDelete {
    visibility: visible
} */

/* [CoCo Next] 触屏优化，恢复按钮始终显示
.workItem:hover .recoverBtn {
    display: block
} */

.dropdown {
    width: 120px;
    padding: 10px 6px;
    color: #61626b;
    font-size: 14px;
    background: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15)
}

.dropdown .dropdownItem {
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer
}

.dropdown .dropdownItem:hover {
    background: #f5f3fe
}
