.menu {
    /* [CoCo Next] 调整页面结构 */
    position: sticky;
    top: 52px;
    /* [CoCo Next] 菜单动态宽度 */
    flex-shrink: 0;
    width: 16%;
    max-width: 240px;
    height: calc(100vh - 52px);
    background: #fafafa;
    border-right: 1px solid #e8e8e8
}

.menu .menuItem {
    display: inline-block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    color: #61626b;
    font-size: 14px;
    cursor: pointer;
    vertical-align: middle
}

.menu .menuItem.active {
    color: #6e4ff4;
    background: #f4f1ff
}

.menu .menuItem.active .menuIcon {
    color: #6e4ff4
}

.menu .menuItem:hover {
    background: #f4f1ff
}

.menu .menuItem .menuIcon {
    font-size: 22px;
    margin-right: 6px;
    margin-top: -2px;
    color: #847da4
}

.menu .discover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #e8e8e8
}

.menu .discover .menuArrow {
    font-size: 16px
}

/* [CoCo Next] 中小屏优化，中小屏设备缩小菜单宽度 */
@media screen and not (min-width: 1024px) {

    .menu {
        width: 60px;
    }

    .menu .menuItem, .menu .discover, .menu .menuLeft {
        height: 60px;
        line-height: normal;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu .discover .menuArrow {
        display: none;
    }
}

/* [CoCo Next] 极小屏优化，极小屏设备菜单显示在下放 */
@media screen and not (min-width: 512px) {

    .menu {
        height: 61px;
        width: 100%;
        max-width: none;
        display: flex;
        bottom: 0px;
        z-index: 10;
        border-right: none;
        border-top: 1px solid #e8e8e8
    }


    .menu .discover {
        border-top: none;
    }
}
