.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
}

.content > *:not(.content > *:first-child) {
    flex-grow: 1;
}

@media screen and not (min-width: 512px) {
    .content {
        flex-direction: column-reverse;
        flex-grow: 1;
    }
}
