.flexTC {
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.pageWrapper {}

.pageWrapper::-webkit-scrollbar {
    width: 0
}

.left, .right {
    flex-grow: 1
}

.bannerBox {
    position: relative;
    height: 640px;
    background: linear-gradient(166deg,#fbfbff,#f6f5ff)
}

.bannerBox .bannerLeftBg {
    position: absolute;
    top: 0;
    left: 0;
    /* [CoCo Next] Banner 背景图大小自适应 */
    width: 50%;
    max-width: 382px;
}

.bannerBox .bannerRightBg {
    position: absolute;
    bottom: 0;
    right: 0;
    /* [CoCo Next] Banner 背景图大小自适应 */
    width: 50%;
    max-width: 400px;
}

.bannerBox .bannerContent {
    width: 1300px;
    height: 640px;
    text-align: center;
    z-index: 3;
    filter: drop-shadow(0 0 4px #f6f5ff);
    text-shadow: 0 0 4px #f6f5ff;
}

.bannerBox .bannerContent .bannerLogoBox {
    margin-top: 140px;
    margin-bottom: 50px
}

.bannerBox .bannerContent .bannerLogoBox .bannerLogoImg {
    width: 283px
}

.bannerBox .bannerContent .bannerText {
    position: relative;
    height: 90px;
    color: #33383d;
    font-size: 28px;
    font-weight: 450;
    line-height: 56px
}

.bannerBox .bannerContent .bannerText .quotesLeft {
    width: 29px;
    position: absolute;
    left: 15%
}

.bannerBox .bannerContent .bannerText .quotesRight {
    width: 29px;
    position: absolute;
    right: 16%;
    bottom: 0
}

.bannerBox .bannerContent .bannerTexSpeech {
    margin-top: 55px;
    margin-right: 280px;
    text-align: right;
    color: #82778c;
    font-size: 28px
}

.princeSpeech {
    margin-top: 128px;
}

.courseAndFamilyBox .courseAndFamilyContent {
    padding-bottom: 70px;
    text-align: center;
    background-color: #fff
}

.courseAndFamilyBox .courseAndFamilyContent .courseTitle {
    padding: 70px 0 0;
    font-size: 36px;
    font-weight: 700
}

/* [CoCo Next] 历程溢出时可以水平滚动 */
.courseAndFamilyBox .courseAndFamilyContent .courseListWrapper {
    width: fit-content;
    max-width: 100%;
    margin-inline: auto;
    position: relative;
    overflow: auto hidden;
}

.courseAndFamilyBox .courseAndFamilyContent .courseList {
    padding-inline: 32px;
    width: 1300px;
}

.courseTimeline {}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseTimelineImg {
    width: 1270px;
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseUpList {
    /* [CoCo Next] 调整历程样式 */
    margin-left: 240px;
    display: flex;
    position: relative;
    top: 41px
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseUpList .courseItem {
    width: 300px;
    /* [CoCo Next] 调整历程样式 */
    margin-right: 0px
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseUpList .courseUpItem {}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseDownList {
    margin-left: 90px;
    display: flex;
    position: relative;
    top: -45px
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseDownList .courseItem {
    /* [CoCo Next] 调整历程样式 */
    width: 400px;
    margin-right: 18px;
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseDownList .courseDownItem {}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseDownList .courseItem .courseText {
    position: relative;
    top: 70px
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseItem {
    display: flex
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseItem .courseDownImg,.courseAndFamilyBox .courseAndFamilyContent .courseList .courseItem .courseUpImg {
    width: 36px
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseText {
    text-align: left
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseText .courseItemTitle {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 700;
    color: #33383d
}

.courseAndFamilyBox .courseAndFamilyContent .courseList .courseText .courseItemDesc {
    font-size: 20px;
    color: #61626b
}

.courseAndFamilyBox .courseAndFamilyContent .familyTitle {
    padding: 50px 0 30px;
    font-size: 36px;
    font-weight: 700
}

.courseAndFamilyBox .courseAndFamilyContent .familyBox {
    display: flex;
    flex-direction: column;
    /* [CoCo Next] 全家福宽度自适应 */
    width: fit-content;
    max-width: calc(100% - 128px);
    padding: 32px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.23)
}

.courseAndFamilyBox .courseAndFamilyContent .familyBox .familyImgBox {
    /* [CoCo Next] 全家福宽度自适应 */
    display: flex;
    overflow: hidden;
    border-radius: 36px;
}

.courseAndFamilyBox .courseAndFamilyContent .familyBox .familyPhotoImg {
    /* [CoCo Next] 全家福宽度自适应 */
    max-width: 100%;
}

.courseAndFamilyBox .courseAndFamilyContent .familyBox .familyIconBox {
    /* [CoCo Next] 调整全家福样式 */
    padding: 32px 0 0 38px;
    text-align: left
}

.courseAndFamilyBox .courseAndFamilyContent .familyBox .familyIconBox .familyLikeImg {
    width: 42px
}

.TeamBox {
    background: linear-gradient(166deg,#5e6ff9,#b94aff)
}

.TeamBox .teamContent {
    /* [CoCo Next] 调整 Thanks 样式 */
    padding-bottom: 80px
}

.TeamBox .teamContent .thanksText {
    padding: 60px 0 62px;
    font-size: 49px;
    text-align: center;
    color: #fff
}

.TeamBox .teamContent .teamItem {
    /* [CoCo Next] 调整 Thanks 样式 */
    padding: 0 32px 40px 32px;
    display: flex;
    align-items: flex-start;
    color: #fff
}

.TeamBox .teamContent .teamItem .teamIcon {
    width: 50px;
    margin-right: 30px
}

.TeamBox .teamContent .teamItem .itemDetail {}

.TeamBox .teamContent .teamItem .itemPosition {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px
}

.TeamBox .teamContent .teamItem .itemMember {
    margin: 0;
    font-size: 24px
}

/* [CoCo Next] 添加底部 Logo */
.footerLogoBox {
    display: flex;
    justify-content: center;
}

.footerLogoBox .footerLogoImg {
    width: 283px;
}
