.work {
    padding-top: 52px;
    padding-left: 240px
}

/* [CoCo Next] 小屏优化，小屏设备缩小菜单宽度 */
@media screen and not (min-width: 768px) {
    .work {
        padding-left: 160px;
    }
}

/* [CoCo Next] 小屏优化，再小屏设备进一步缩小菜单宽度 */
@media screen and not (min-width: 600px) {
    .work {
        padding-left: 60px;
    }
}

.work .content,.work .workContent {
    /* [CoCo Next] 移除内边距，使内容更紧凑 */
    /* padding: 0 22px; */
    margin: 0 auto;
    /* [CoCo Next] 作品内容尺寸自适应 */
    /* min-width: 960px; */
    /* max-width: 1260px */
    /* [CoCo Next] 滚动转移到 workContent 上 */
    max-height: calc(100vh - 52px);
    overflow-y: auto;
}

/* [CoCo Next] 滚动转移到 workContent 上 */
.work .workContent::-webkit-scrollbar {
    width: 0
}

.work .loginBox {
    height: 500px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.work .loginBox .image {
    width: 166px
}

.work .loginBox .loginTips {
    margin-top: 14px;
    font-size: 14px;
    color: #847da4
}

.work .loginBox .loginBtn {
    margin-top: 28px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #6e4ff4;
    border-radius: 8px;
    cursor: pointer
}

.work .loginBox .loginBtn:hover {
    background: #5439ce
}

.work .loginBox .loginBtn:active {
    background: #5118ce
}

/* [CoCo Next] 移除我的作品页面的创作盒子
.work .createBox {
    padding: 30px 30px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.work .createBox .createItem {
    width: 460px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #33383d;
    border: 2px solid #f2f2f2;
    border-radius: 18px;
    cursor: pointer
}

.work .createBox .createItem:hover {
    background: #f2f2f2
}

.work .createBox .createItem .createIcon {
    font-size: 24px;
    margin-right: 14px;
    margin-top: -2px
}

.work .createBox .disabled {
    margin-left: 60px;
    color: #bebacd;
    background: #f8f8f8;
    cursor: not-allowed
}

.work .createBox .disabled .tips {
    font-size: 14px;
    font-weight: 400
}

.work .createBox .disabled:hover {
    background: #f8f8f8
} */

.work .userWorkBox {
    /* [CoCo Next] 调整边距 */
    margin: 22px 0 50px;
    /* [CoCo Next] 作品内容尺寸自适应 */
    /* height: 410px */
}

/* [CoCo Next] 小屏优化，小屏设备作品类型和搜索框显示在两行上，主体界面上边距减小 */
@media screen and not (min-width: 512px) {
    .work .userWorkBox {
        margin-top: 0;
    }
}

.work .userWorkBox .workList {
    /* [CoCo Next] 作品内容尺寸自适应 */
    /* height: calc(100vh - 240px); */
    padding: 8px 8px 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* [CoCo Next] 滚动转移到 workContent 上 */
    /* overflow-y: scroll */
}

.work .userWorkBox .noData {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 410px
}

.work .userWorkBox .noData.oldUser {
    height: calc(100vh - 260px)
}

.work .userWorkBox .noData .image {
    width: 166px
}

.work .userWorkBox .noData .noWorkTips {
    margin-top: 14px;
    font-size: 14px;
    color: #847da4
}

.work .userWorkBox .noData .searchTips {
    font-size: 14px;
    color: #9fa1b3
}

.work .userWorkBox .noData .createBtn {
    margin-top: 28px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #6e4ff4;
    border-radius: 8px;
    cursor: pointer
}

.work .userWorkBox .noData .createBtn .icon {
    margin-left: 2px;
    vertical-align: middle
}

.work .userWorkBox .noData .createBtn:hover {
    background: #5439ce
}

.work .userWorkBox .noData .createBtn:active {
    background: #5118ce
}

.work .workCategory {
    /* [CoCo Next] 调整边距 */
    padding: 12px 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* [CoCo Next] 作品类型不滚出屏幕 */
    position: sticky;
    top: 0px;
    z-index: 10;
    backdrop-filter: blur(4px);
    background-color: #FFFFFFC0;
}

/* [CoCo Next] 作品类型盒子滚动阴影 */
.work .workCategory.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .11);
}

/* [CoCo Next] 小屏优化，小屏设备作品类型和搜索框显示在两行上 */
@media screen and not (min-width: 512px) {
    .work .workCategory {
        flex-direction: column;
        height: 100px;
    }
}

.work .workCategory .workType {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    text-align: center
}

.work .workCategory .workType .typeItem {
    margin-right: 12px;
    width: 80px;
    height: 34px;
    font-size: 14px;
    line-height: 34px;
    color: #6e4ff4;
    background: #f5f3fe;
    border-radius: 16px;
    cursor: pointer
}

.work .workCategory .workType .active {
    color: #fff;
    background: #6e4ff4
}

.work .workCategory .searchBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.work .workCategory .searchBox .searchInput {
    /* [CoCo Next] 小优化，搜索框宽度可压缩 */
    /* width: 220px; */
    height: 34px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #33383d
}

.work .workCategory .searchBox .searchInput input::-webkit-input-placeholder {
    color: #847da4;
    opacity: .8
}

.work .workCategory .searchBox .searchInput input::-moz-placeholder {
    color: #847da4;
    opacity: .8
}

.work .workCategory .searchBox .searchInput input::-ms-input-placeholder {
    color: #847da4;
    opacity: .8
}

.work .workCategory .searchBox .searchInput input::placeholder {
    color: #847da4;
    opacity: .8
}

.work .workCategory .searchBox .searchInput i {
    font-size: 16px;
    margin-right: 5px
}

.work .workCategory .searchBox .searchInput:hover {
    background: #f5f3fe
}

.work .workCategory .searchBox .recoverBtn {
    width: 120px;
    height: 34px;
    margin-left: 12px;
    line-height: 34px;
    font-size: 14px;
    text-align: center;
    color: #847da4;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer
}

.work .workCategory .searchBox .recoverBtn .icon {
    margin-top: -2px;
    margin-right: 3px
}

.work .workCategory .searchBox .disabled {
    color: hsla(271,8%,51%,.5);
    background: #f8f8f8;
    border-color: #f8f8f8
}

.work .templateBox {
    padding: 20px 0;
    margin: 0 auto;
    min-width: 900px;
    max-width: 1200px
}

.work .templateBox.notLogin {
    padding: 20px 30px
}

.work .templateBox .titleBox {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.work .templateBox .titleBox,.work .templateBox .titleBox .templateTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.work .templateBox .titleBox .title {
    color: #525252;
    font-size: 16px;
    margin: 0
}

.work .templateBox .titleBox .titleIcon {
    font-size: 22px;
    margin-right: 5px
}

.work .templateBox .titleBox .pageBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.work .templateBox .titleBox .pageBtn .btnItem {
    margin-left: 16px;
    width: 28px;
    height: 28px;
    line-height: 24px;
    font-size: 28px;
    color: #847da4;
    background: #f3f6fa;
    border-radius: 50%;
    cursor: pointer
}

.work .templateBox .titleBox .pageBtn .btnItem.disabled {
    color: rgba(132,125,164,.3);
    background: #f3f6fa
}

.work .templateBox .titleBox .pageBtn .btnItem .prev {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.work .templateBox .templateList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll
}

.work .templateBox .templateList::-webkit-scrollbar {
    width: 0
}

.work .recoverHeader {
    /* [CoCo Next] 调整边距 */
    padding: 8px;
    /* margin-top: 35px; */
    /* margin-bottom: 28px; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* [CoCo Next] 调高回收站头部显示层级 */
    position: relative;
    z-index: 10;
}

/* [CoCo Next] 回收站头部滚动阴影 */
.work .recoverHeader.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .11);
}

.work .recoverHeader .backBox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    margin-left: -8px
}

.work .recoverHeader .backBox .back {
    height: 20px;
    line-height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #847da4;
    padding-right: 12px;
    cursor: pointer
}

.work .recoverHeader .backBox .back .icon {
    font-size: 32px;
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: -6px
}

.work .recoverHeader .backBox .title {
    height: 20px;
    line-height: 20px;
    padding-left: 11px;
    font-weight: 700;
    color: #525252;
    border-left: 1px solid #e8e8e8
}

.work .recoverHeader .clearRecoverBtn {
    width: 140px;
    height: 34px;
    line-height: 34px;
    color: #847da4;
    background: #fff;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #eee;
    cursor: pointer
}

.work .recoverHeader .clearRecoverBtn .icon {
    margin-top: -2px;
    margin-right: 2px
}

.work .recoverHeader .disabled {
    color: hsla(271,8%,51%,.5);
    background: #f8f8f8;
    border-color: #f8f8f8;
    cursor: not-allowed
}

.work .recoverNoData {
    height: calc(100vh - 160px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    color: #847da4
}

.work .recoverList {
    padding: 0 8px 16px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* [CoCo Next] 回收站调高回收站内容区 */
    max-height: calc(100vh - 102px);
    overflow-y: scroll
}

.work .recoverList::-webkit-scrollbar {
    display: none
}
