.home {
    /* [CoCo Next] 调整页面结构 */
    /* padding-top: 52px; */
    /* padding-left: 240px; */
    /* height: 100vh; */
    overflow-y: auto
}

.home::-webkit-scrollbar {
    width: 0
}

.home .createBox {
    padding: 30px 30px 20px;
    /* [CoCo Next] 创作盒子随页面滚动 */
    /* position: fixed; */
    /* top: 52px; */
    /* left: 240px; */
    /* right: 0; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99
}

.home .createBox.shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,.11);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.11)
}

.home .createBox .createItem {
    width: 460px;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #33383d;
    border: 2px solid #f2f2f2;
    border-radius: 18px;
    cursor: pointer
}

.home .createBox .createItem:hover {
    background: #f2f2f2
}

.home .createBox .createItem .createIcon {
    font-size: 24px;
    margin-right: 14px;
    margin-top: -2px
}

.home .createBox .disabled {
    margin-left: 60px;
    color: #bebacd;
    background: #f8f8f8;
    cursor: not-allowed
}

/* [CoCo Next] 小屏优化，小屏设备不显示不能用的按钮 */
@media screen and not (min-width: 768px) {
    .home .createBox .disabled {
        display: none;
    }
}

.home .createBox .disabled .tips {
    font-size: 14px;
    font-weight: 400
}

.home .createBox .disabled:hover {
    background: #f8f8f8
}

.home .center {
    /* [CoCo Next] 调小边距 */
    /* padding: 0 22px; */
    padding: 0 8px;
    /* [CoCo Next] 小平适配 */
    /* min-width: 960px; */
    /* max-width: 1260px; */
    /* [CoCo Next] 创作盒子随页面滚动 */
    /* margin: 132px auto 0 */
}

.home .center.newUser {
    margin: 30px auto 0
}

.home .center .hide {
    display: none
}

.home .center .bannerBox {
    position: relative;
    height: 180px;
    margin: 0 8px 20px;
    border-radius: 20px;
    overflow: hidden
}

.home .center .bannerBox .bannerItem {
    height: 180px;
    background-color: #f3f6fa;
    cursor: pointer
}

.home .center .bannerBox .bannerItem .image {
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover
}

.home .center .bannerBox .bannerNext,.home .center .bannerBox .bannerPrev {
    position: absolute;
    top: 78px;
    width: 36px;
    height: 36px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: hsla(0,0%,100%,.8);
    font-size: 32px;
    background-color: rgba(0,0,0,.2);
    z-index: 10;
    visibility: hidden
}

.home .center .bannerBox .bannerPrev {
    left: 20px;
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer
}

.home .center .bannerBox .bannerPrev i {
    margin-left: 2px
}

.home .center .bannerBox .bannerNext {
    right: 20px;
    cursor: pointer
}

.home .center .bannerBox:hover .bannerNext,.home .center .bannerBox:hover .bannerPrev {
    visibility: visible
}

.home .center .noticeBox {
    height: 36px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden
}

.home .center .noticeBox .noticeItem {
    padding-left: 10px;
    height: 36px;
    line-height: 36px;
    color: #847da4;
    overflow: hidden;
    cursor: pointer
}

.home .center .noticeBox .noticeItem .noticeChar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: -webkit-gradient(linear,left top,left bottom,from(#a787fa),to(#6e4ff4));
    background: -webkit-linear-gradient(top,#a787fa,#6e4ff4);
    background: -o-linear-gradient(top,#a787fa 0,#6e4ff4 100%);
    background: linear-gradient(180deg,#a787fa,#6e4ff4);
    -webkit-box-shadow: 1px 1px 5px 0 rgba(119,88,245,.39);
    box-shadow: 1px 1px 5px 0 rgba(119,88,245,.39);
    border-radius: 6px
}

.home .center .noticeBox:hover {
    background: #f8f8f8
}

.home .center .courseBox {
    /* [CoCO Next] 新手入门高度自适应 */
    /* height: 360px; */
    margin: 0 8px 32px;
    background: #f6f4fe;
    border-radius: 24px;
    overflow: hidden
}

.home .center .courseBox.hidden {
    display: none
}

.home .center .courseBox .titleBox {
    padding: 18px 30px 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.home .center .courseBox .titleBox .title {
    color: #33383d;
    font-size: 16px
}

.home .center .courseBox .titleBox .checkbox {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: #fff;
    border-radius: 6px;
    border: 2px solid #ddd8f3;
    cursor: pointer
}

.home .center .courseBox .titleBox .checkbox.checked {
    border-radius: 6px;
    color: #fff;
    background: #6e4ff4;
    border-color: #6e4ff4
}

.home .center .courseBox .titleBox .checkbox i {
    font-size: 22px;
    margin-top: -10px;
    margin-left: -3px
}

.home .center .courseBox .titleBox .finish {
    font-size: 14px;
    color: #82778c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.home .center .courseBox .courseList {
    width: 100%;
    /* [CoCO Next] 调整新手入门样式 */
    padding: 30px;
    padding-top: 0;
    display: grid;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
    row-gap: 32px;
    /* [CoCO Next] 调整新手入门样式 */
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.home .center .courseBox .courseList .courseItem {
    height: 280px;
    background: #fff;
    border-radius: 12px;
    cursor: pointer
}

.home .center .courseBox .courseList .courseItem .courseImage {
    position: relative;
    height: 190px;
    background-color: #eee;
    border-radius: 12px 12px 0 0;
    overflow: hidden
}

.home .center .courseBox .courseList .courseItem .courseImage .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s,-o-transform .3s
}

.home .center .courseBox .courseList .courseItem .courseImage .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgba(0,0,0,.24);
    border-radius: 12px 12px 0 0;
    visibility: hidden
}

.home .center .courseBox .courseList .courseItem .courseImage .mask .playBox {
    width: 42px;
    height: 42px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    background: hsla(0,0%,88%,.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 50%
}

.home .center .courseBox .courseList .courseItem .courseName {
    padding: 12px 12px 4px;
    font-size: 16px;
    color: #232345;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.home .center .courseBox .courseList .courseItem .courseDesc {
    padding: 0 12px;
    font-size: 12px;
    color: #8a8a94;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.home .center .courseBox .courseList .courseItem:hover {
    -webkit-box-shadow: 0 4px 10px 0 hsla(222,6%,55%,.18);
    box-shadow: 0 4px 10px 0 hsla(222,6%,55%,.18)
}

.home .center .courseBox .courseList .courseItem:hover .mask {
    visibility: visible
}

.home .center .courseBox .courseList .courseItem:hover .image {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.home .center .animation {
    -webkit-animation: hideCourseBoxAnimation .4s;
    -o-animation: hideCourseBoxAnimation .4s;
    animation: hideCourseBoxAnimation .4s;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards
}

.home .center .newUserTemplate {
    margin-bottom: 32px
}

.home .center .newUserTemplate .templateTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 0 12px 12px
}

.home .center .newUserTemplate .templateTitle .title {
    color: #525252;
    font-size: 16px;
    margin: 0
}

.home .center .newUserTemplate .templateTitle .titleIcon {
    font-size: 22px;
    margin-right: 5px
}

.home .center .newUserTemplate .templateList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    /* [CoCo Next] 小屏适配 */
    overflow-x: auto;
}

.home .center .newUserTemplate .templateList .templateItem {
    width: 320px;
    height: 457px;
    padding: 32px 32px 27px;
    color: #fff;
    border-radius: 24px;
    cursor: pointer
}

.home .center .newUserTemplate .templateList .templateItem .imageBox {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    overflow: hidden;
    background: #f3f3f3
}

.home .center .newUserTemplate .templateList .templateItem .imageBox .image {
    width: 256px;
    height: 256px;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: -o-transform .3s;
    transition: transform .3s;
    transition: transform .3s,-webkit-transform .3s,-o-transform .3s
}

.home .center .newUserTemplate .templateList .templateItem .imageBox .gif {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    visibility: hidden
}

.home .center .newUserTemplate .templateList .templateItem .name {
    padding: 18px 0 12px;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.home .center .newUserTemplate .templateList .templateItem .desc {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.home .center .newUserTemplate .templateList .templateItem .previewBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px auto 0;
    width: 96px;
    height: 32px;
    font-size: 14px;
    background: #fff;
    color: #61626b;
    border-radius: 18px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    -o-transition: -o-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease,-o-transform .3s ease
}

.home .center .newUserTemplate .templateList .templateItem .previewBtn i {
    font-size: 18px
}

.home .center .newUserTemplate .templateList .templateItem:hover .previewBtn {
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}

.home .center .newUserTemplate .templateList .templateItem:hover .imageBox .gif {
    visibility: visible
}

.home .center .newUserTemplate .templateList .blue {
    background: #5aa9ff
}

.home .center .newUserTemplate .templateList .yellow {
    background: #ffc44f
}

.home .center .newUserTemplate .templateList .purple {
    background: #886cff
}

.home .center .myWork {
    margin-bottom: 26px
}

.home .center .myWork .titleBox {
    padding: 0 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.home .center .myWork .titleBox .title {
    color: #525252;
    font-size: 16px;
    margin: 0
}

.home .center .myWork .titleBox .titleIcon {
    font-size: 22px;
    margin-right: 5px
}

.home .center .myWork .workList {
    padding: 8px 8px 10px;
    max-height: 518px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.home .center .myWork .workListNoData {
    margin-top: 6px;
    height: 256px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 14px;
    color: #847da4;
    border: 1px solid #f2f2f2;
    border-radius: 12px
}

.home .center .myWork .workListNoData,.home .center .myWork .workListNoData .createBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.home .center .myWork .workListNoData .createBtn {
    margin-top: 24px;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: #6e4ff4;
    border-radius: 8px;
    cursor: pointer
}

.home .center .myWork .workListNoData .createBtn .icon {
    margin-left: 4px
}

.home .center .myWork .workListNoData .createBtn:hover {
    background: #5439ce
}

.home .center .myWork .workListNoData .createBtn:active {
    background: #5118ce
}

.home .center .oldUserTemplate {
    padding: 0 8px;
    margin-bottom: 32px
}

.home .center .oldUserTemplate .titleBox {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.home .center .oldUserTemplate .titleBox,.home .center .oldUserTemplate .titleBox .templateTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.home .center .oldUserTemplate .titleBox .title {
    color: #525252;
    font-size: 16px;
    margin: 0
}

.home .center .oldUserTemplate .titleBox .titleIcon {
    font-size: 22px;
    margin-right: 5px
}

.home .center .oldUserTemplate .titleBox .pageBtn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.home .center .oldUserTemplate .titleBox .pageBtn .btnItem {
    margin-left: 16px;
    width: 28px;
    height: 28px;
    line-height: 24px;
    font-size: 28px;
    color: #847da4;
    background: #f3f6fa;
    border-radius: 50%;
    cursor: pointer
}

.home .center .oldUserTemplate .titleBox .pageBtn .btnItem.disabled {
    color: rgba(132,125,164,.3);
    background: #f3f6fa
}

.home .center .oldUserTemplate .titleBox .pageBtn .btnItem .prev {
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.home .center .oldUserTemplate .templateList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll
}

.home .center .oldUserTemplate .templateList::-webkit-scrollbar {
    width: 0
}

.home .startWork {
    width: 100%;
    height: 260px;
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-image: url("https://static.bcmcdn.com/coco/image/homem.gif");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat
}

.home .startWork .title {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #2f255e
}

.home .startWork .startBtn {
    position: relative;
    width: 180px;
    height: 60px;
    line-height: 60px;
    margin-top: 26px;
    padding-left: 45px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #6e4ff4;
    -webkit-box-shadow: 0 3px 8px 0 rgba(110,79,244,.33);
    box-shadow: 0 3px 8px 0 rgba(110,79,244,.33);
    border-radius: 18px;
    cursor: pointer
}

.home .startWork .startBtn:active {
    background: #4e40c6
}

.home .startWork .startBtn:hover .startIcon {
    -webkit-animation: startIconAnimation .6s;
    -o-animation: startIconAnimation .6s;
    animation: startIconAnimation .6s;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.home .startWork .startBtn .startIcon {
    position: absolute;
    top: 22px;
    left: 116px
}

@-webkit-keyframes startIconAnimation {
    0% {
        left: 116px
    }

    50% {
        left: 121px
    }

    to {
        left: 116px
    }
}

@-o-keyframes startIconAnimation {
    0% {
        left: 116px
    }

    50% {
        left: 121px
    }

    to {
        left: 116px
    }
}

@keyframes startIconAnimation {
    0% {
        left: 116px
    }

    50% {
        left: 121px
    }

    to {
        left: 116px
    }
}

@-webkit-keyframes hideCourseBoxAnimation {
    0% {
        height: 360px
    }

    99% {
        height: 1px;
        display: none
    }

    to {
        display: none;
        height: 0;
        margin-bottom: 0
    }
}

@-o-keyframes hideCourseBoxAnimation {
    0% {
        height: 360px
    }

    99% {
        height: 1px;
        display: none
    }

    to {
        display: none;
        height: 0;
        margin-bottom: 0
    }
}

@keyframes hideCourseBoxAnimation {
    0% {
        height: 360px
    }

    99% {
        height: 1px;
        display: none
    }

    to {
        display: none;
        height: 0;
        margin-bottom: 0
    }
}

/* [CoCo Next] 中小屏优化，中小屏设备新手入门最小宽度减小 */
@media screen and not (min-width: 1024px) {
    .home .center .courseBox .courseList {
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    }
}

/* [CoCo Next] 极小屏优化，极小屏设备作品最小宽度减小 */
@media screen and not (min-width: 512px) {
    .home .center .myWork .workList {
        grid-template-columns: repeat(auto-fill,minmax(160px,1fr));
    }
}
