/**
 * 由 CoCo 源代码计划解包器解包
 *
 * 模块 ID：868
 */

.coco-dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100
}

.coco-dialog-scroll {
    height: 100%;
    overflow: auto;
    position: relative
}

.coco-dialog-wrapper {
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(11,24,38,.25);
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
    min-width: 380px;
    z-index: 2;
    overflow: hidden
}

.coco-dialog-wrapper.show {
    animation: showDialog .3s ease-in-out
}

.coco-dialog-wrapper.hidden {
    animation: closeDialog .3s ease-in-out
}

@keyframes showDialog {
    0% {
        transform: translate(-50%,-50%) scale(0);
        opacity: 0
    }

    to {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1
    }
}

@keyframes closeDialog {
    0% {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1
    }

    to {
        transform: translate(-50%,-50%) scale(0);
        opacity: 0
    }
}

.coco-dialog-content {
    padding: 40px 40px 28px
}

.coco-dialog-title {
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 6px 0 rgba(33,35,38,.1);
    color: #33383d;
    line-height: 60px;
    padding-left: 35px
}

.coco-dialog-mask {
    background: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1
}

.coco-dialog-mask.hidden {
    animation: hideMask .3s ease-in-out
}

@keyframes hideMask {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.coco-dialog-close {
    color: #ccc;
    font-size: 26px;
    line-height: 1em;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 20px
}

.coco-dialog-close:hover {
    color: #e9e9e9
}

.coco-dialog-close:active {
    color: #b1b1b1
}

.coco-dialog-footer {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    min-height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.coco-dialog-close {
    color: #61626b
}
