name: 部署到 GitHub Pages

on:
  push:
    branches: [main, editor, docs]
  workflow_call:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 检出辅助代码
        uses: actions/checkout@v4
        with:
          ref: main
          path: main

      - name: 检出编辑器代码
        uses: actions/checkout@v4
        with:
          ref: editor
          path: editor

      - name: 检出文档源文件
        uses: actions/checkout@v4
        with:
          ref: docs
          path: docs

      - name: 设置 Node.js 环境
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'
          cache-dependency-path: |
            editor/package-lock.json
            docs/package-lock.json

      - name: 安装编辑器依赖
        run: npm ci --legacy-peer-deps
        working-directory: ./editor

      - name: 构建编辑器
        run: npm run build
        working-directory: ./editor

      - name: 移动编辑器文件到分发目录
        run: |
          mv ./editor/dist/coco.codemao.cn ./dist

      - name: 安装文档依赖
        run: npm ci
        working-directory: ./docs

      - name: 构建文档
        run: npm run build
        working-directory: ./docs

      - name: 移动文档文件到分发目录
        run: |
          mv ./docs/build ./dist/docs

      - name: 移动静态文件到分发目录
        run: |
          mv ./main/static/* ./dist/

      - name: 部署到 GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          force_orphan: true
